body{
  margin-top: 0px;
  background-color:#1a535c;
}

.content{
  background-color: #f7fff7;
  margin:60px;
  margin-top: 0px;
  font-size: 20px;
  padding-top: 30px;
  font-family: 'MuseoModerno', cursive;
  }

.header{text-align: center;
  padding-bottom: 15px;
  font-size: 1em;
  margin-bottom: 20px;
  font-family: cursive;
}

.fisrtText{
  text-align: center;
  margin: 40px 210px;
  font-size: 1em;
}

.secondText{
  text-align: center;
  margin: 40px 210px;
  font-size: 1em;
}

.form{
  margin-top: 55px;
  text-align: center;
}

#formHead{
  font-size: 50px;
  font-family: cursive;
}
label{
  font-size:30px;
}
input{
  margin: 5px;
  width: 250px;
  height: 40px;
}

#button{
  width: 130px;
  margin-bottom: 5px;
  height: 70px;
  font-family: cursive;
  font-size: 22px;
  background-color: #f77f00;
  border-radius: 20px;
}

.body-thanks{
  margin: 0px;
  background-color:#1a535c;
}
.content-thanks{text-align: center;
  border: 60px #f7fff7 solid;
  border-top: #1a535c;
  margin: 0px;
