<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
    <style>
        .navbar-inverse .navbar-nav>li>a.hello-msg {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                </button> <a class="navbar-brand" href="{% url 'index' %}">Django</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}" >Profile</a>
                    </li>
                
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li>
                            <!-- <a class="hello-msg" href="#">Hello, {{ request.user }}<a> -->
                            <a class="hello-msg">Hello, {{ request.user }}</a>    
                        </li>
                        <li>
                            <div class="btn-nav">
                                <a class="btn btn-primary btn-small navbar-btn" href="{% url 'user_logout' %}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'basic_app:user_login' %}">Login</a>
                        </li>
                        <li>
                            <div class="btn-nav">
                                <a class="btn btn-primary btn-small navbar-btn" href="{% url 'basic_app:register' %}">Sign up!</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container page-header">
        {% block content_block %}
        {% endblock content_block %}
    </div>
    
</body>
</html>